.sb-nav-fixed{
    background-color: rgba(28, 49, 30, 0.521) !important;
}

.sb-sidenav {
    background-color: rgba(0, 0, 0, 0.521) !important;
}
.sb-topnav{
    background-color: rgba(0, 0, 0, 0.521) !important;
}
.sb-sidenav-footer{
    background-color: rgba(43, 54, 44, 0) !important;
}
#inputPrix{
    width: 136px !important;
    }
    .btn{
background-color: rgba(0, 0, 0, 0.521) !important;
border: black  !important;
    }
    .btnN{
        color: blanchedalmond !important;
    }